## IntelliJ
*.iml
.idea

## Eclipse
.project
.classpath

## Builds
*.class
*.log
dist
dist.tar.gz

## SBT specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.bsp


## Logs
nohup.out

# Scala-IDE specific
.scala_dependencies
.worksheet

# External Files
**/.DS_Store

# NPM
node_modules

# Coveralls
.coveralls.yml

# Codecov
codecov.yml

# Coverage
coverage
omni-config.json
