## IntelliJ
*.iml
.idea

## Eclipse
.project
.classpath

## Builds
*.class
*.log
dist
dist.tar.gz

## SBT specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

## Logs
nohup.out

# Scala-IDE specific
.scala_dependencies
.worksheet
.idea

# External Files
**/.DS_Store

# NPM
node_modules
