input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    font-weight: bold;
}

.card {
    align-content: center;
}

input {
    margin: 8px;
}

.filters {
    float:right;
}