<nb-layout>
    <nb-layout-header fixed>
        <h1>Image train filters</h1>
    </nb-layout-header>
    <nb-layout-header subheader>
        <h5>Copyright 2016-2019 @ João Esperancinha (<a href="http://www.joaofilipesabinoesperancinha.nl">jesperancinha</a>)</h5>
    </nb-layout-header>
    <nb-layout-column>
        <image-loader></image-loader>
    </nb-layout-column>
    <nb-layout-footer>
        <div>Copyright 2016-2019 @ João Esperancinha (<a href="http://www.joaofilipesabinoesperancinha.nl">jesperancinha</a>)(making images since 2016)</div>
    </nb-layout-footer>
</nb-layout>
