name: PR image-train-filters-web

on:
  create:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'
    paths-ignore:
      - 'README.md'
      - 'Readme.md'
  push:
    branches:
      - '**'
      - '!master'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'adopt'
    - uses: actions/setup-node@v4
      with:
        node-version: 20

    - name: Install SBT
      run: yes | curl -fL https://github.com/coursier/coursier/releases/latest/download/cs-x86_64-pc-linux.gz | gzip -d > cs && chmod +x cs && yes | ./cs setup

    - name: Install Jest Image Train Filters Web
      run: cd image-train-filters-fe && yarn && yarn add jest --dev

    - name: Run Tests and Build
      run: make build
