<div class="container">
    <nb-card accent="info">
        <nb-card-body>
            <div class="card">
                <div>Please insert an image and you will get a downloaded result</div>
            </div>
        </nb-card-body>
    </nb-card>
    <nb-card accent="info">
        <div class="container">
            <label for="file-upload" [hidden]="true" #imagePicker>Pick File (max 100Mb)</label>
            <input nbInput type="file" name="photo" ng2FileSelect [uploader]="uploader" (change)="imageChanged($event)"
                   (cancel)="imageChanged()" id="file-upload" status="primary" [hidden]="true"/>
            <button nbButton outline status="primary" class="btn btn-success btn-s"
                    (click)="imagePicker.click()">
                Pick File (max 100Mb)
            </button>
            <button nbButton outline status="primary" class="btn btn-success btn-s"
                    (click)="loadImage()"
                    [disabled]="!(uploader.getNotUploadedItems().length>0)">
                Generate Image
            </button>
            <div *ngIf="filename">{{filename}}</div>
        </div>
    </nb-card>
    <nb-card [nbSpinner]="loading" nbSpinnerStatus="danger">
        <nb-card-body>
            <div *ngIf="imageToShow" class="card"><img (load)="downloadPhoto.click()" [src]="imageToShow"
                                                       alt="Generated image"/></div>
        </nb-card-body>
        <nb-alert *ngIf="errorText" status="danger">Error creating picture! Error status:  {{errorStatus}} Error
            text: {{errorText}}</nb-alert>
        <nb-alert *ngIf="adviceText" status="info">{{adviceText}}</nb-alert>
    </nb-card>
    <a [hidden]="true" [href]="fileUrl" [download]="filename + '_itf.png'" #downloadPhoto></a>

    <nb-card accent="info">
        <nb-card-body>
            <nb-tabset>
                <nb-tab tabTitle="Contour" responsive>
                    <image-loader-contour></image-loader-contour>
                </nb-tab>
                <nb-tab tabTitle="Kuwahara" responsive>
                    <image-loade-kuwaharara></image-loade-kuwaharara>
                </nb-tab>
                <nb-tab tabTitle="Chartizate" responsive>
                    <image-loader-chartizate></image-loader-chartizate>
                </nb-tab>
            </nb-tabset>
        </nb-card-body>
    </nb-card>
</div>