<div class="container">
    <nb-card accent="info">
        <div class="container">
            <nb-card-body>
                <div class="card">
                    <div>Please select a filter and insert an image to get a filtered result image in return</div>
                </div>
            </nb-card-body>
        </div>
    </nb-card>

    <nb-card accent="info">
        <div class="container">
            <nb-card-body>
                <nb-tabset (changeTab)="tabChanged($event, ilcontour, ilkuwahara, ilchartizate)">
                    <nb-tab tabTitle="Contour" responsive>
                        <image-loader-contour #ilcontour></image-loader-contour>
                    </nb-tab>
                    <nb-tab tabTitle="Kuwahara" responsive>
                        <image-loader-kuwaharara #ilkuwahara></image-loader-kuwaharara>
                    </nb-tab>
                    <nb-tab tabTitle="Chartizate" responsive>
                        <image-loader-chartizate #ilchartizate></image-loader-chartizate>
                    </nb-tab>
                </nb-tabset>
            </nb-card-body>
        </div>
    </nb-card>

    <nb-card accent="info">
        <div class="container">
            <label for="file-upload" [hidden]="true" #imagePicker>Pick File (max 100Mb)</label>
            <input nbInput type="file" name="photo" ng2FileSelect [uploader]="uploader" (change)="imageChanged($event)"
                   (cancel)="imageChanged()" id="file-upload" status="primary" [hidden]="true"/>
            <button nbButton hero outline status="primary" class="btn btn-success btn-s"
                    (click)="imagePicker.click()" [disabled]="uploader.getNotUploadedItems().length>0"
                    *ngIf="!(uploader.getNotUploadedItems().length>0)">
                Pick File (max 100Mb)
            </button>
            <button nbButton hero outline status="danger" class="btn btn-success btn-s"
                    (click)="resetAll()" [disabled]="!(uploader.getNotUploadedItems().length>0)"
                    *ngIf="uploader.getNotUploadedItems().length>0">
                Cancel
            </button>
            <button nbButton hero outline status="primary" class="btn btn-success btn-s"
                    (click)="loadImage()"
                    [disabled]="!(uploader.getNotUploadedItems().length>0)">
                Generate Image
            </button>
            <div *ngIf="filename">{{filename}}</div>
        </div>
    </nb-card>
    <nb-card [nbSpinner]="loading" nbSpinnerStatus="danger">
        <div class="container">
            <nb-card-body>
                <div *ngIf="imageToShow" class="card"><img (load)="downloadPhoto.click()" [src]="imageToShow" class="image"
                                                           alt="Generated image"/></div>
            </nb-card-body>
            <nb-alert *ngIf="errorText" status="danger">Error creating picture! Error status:  {{errorStatus}} Error
                text: {{errorText}}</nb-alert>
            <nb-alert *ngIf="adviceText" status="info">{{adviceText}}</nb-alert>
            <a [hidden]="true" [href]="fileUrl" [download]="filename + '_itf.png'" #downloadPhoto></a>
        </div>
    </nb-card>
</div>