<div class="container">
    <nb-card>
        <nb-card-body><div class="card"><div>Please insert an image and you will get a downloaded result</div>
        </div></nb-card-body>
    </nb-card>
    <label for="file-upload" class="custom-file-upload">Pick File (max 100Mb)</label>
    <input nbInput type="file" name="photo" ng2FileSelect [uploader]="uploader" (change)="imageChanged($event)"
           (cancel)="imageChanged()" id="file-upload"/>
    <button nbButton outline status="primary" class="btn btn-success btn-s"
            (click)="loadImage()"
            [disabled]="!(uploader.getNotUploadedItems().length>0)">
        Generate Image
    </button>
    <div *ngIf="filename">{{filename}}</div>
    <nb-card [nbSpinner]="loading" nbSpinnerStatus="danger">
        <nb-card-body><div *ngIf="imageToShow" class="card"><img (load)="downloadPhoto.click()" [src]="imageToShow" alt="Generated image"/></div></nb-card-body>
        <nb-alert  *ngIf="errorText" status="danger">Error creating picture! Error status:  {{errorStatus}} Error text: {{errorText}}</nb-alert>
        <nb-alert  *ngIf="adviceText" status="info">{{adviceText}}</nb-alert>
    </nb-card>
    <a [hidden]="true" [href]="fileUrl" [download]="filename + '_itf.png'" #downloadPhoto></a>
</div>